<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Developer" type="TestConfiguration.Configuration.DeveloperConfigSection,TestConfiguration" allowLocation="true" allowDefinition="Everywhere" />
		<section name="DeveloperDetails" type="TestConfiguration.Configuration.DeveloperDetailsConfigSection,TestConfiguration" allowLocation="true" allowDefinition="Everywhere" />
		<section name="Recipes" type="TestConfiguration.Configuration.RecipeConfigSection,TestConfiguration" allowLocation="true" allowDefinition="Everywhere" />

	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<Developer name="Jaco" birthday="1979/01/28" ismarried="true" />
	<DeveloperDetails haspets="true" hasprojects="true">
		<Pets>
			<Pet name="Yeasty Boys" type="Yeast"/>
			<Pet name="Hex" type="Computer"/>
			<Pet name="Beer" type="Liquid"/>
		</Pets>
		<Companies text="Many Test" >
			<Company name="Comp1" datefrom="2001/01/01" dateto="2005/12/31" >
				<Projects>
					<Project name="Project 1" description="Hello World!" />
					<Project name="Another Project" description="This is fun" />
					<Project name="YAP" description="This broke the camel's back" />
				</Projects>
			</Company>
			<Company name="Comp2" datefrom="2006/01/01" dateto="2010/12/31">
				<Projects>
					<Project name="Project 2" description="A whole new world" />
					<Project name="This again" description="Same old, same old" />
					<Project name="Big Project" description="Great Project" />
				</Projects>
			</Company>
		</Companies>
	</DeveloperDetails>

	<Recipes>

	</Recipes>


</configuration>