<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- Define targets -->
	<targets async="true">
		<!-- Log to a file -->
		<!--<target name="logfile" xsi:type="File" fileName="file.txt" />-->
		<!--<target name="logfile" xsi:type="File" fileName="file.txt" layout="${longdate}|${level:uppercase=true}|${logger}" />-->
		<target name="logfile" xsi:type="File" fileName="file.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />


		<!-- Log to console -->
		<target name="logconsole" xsi:type="Console" />



		<!--<target xsi:type="File" name="DefaultLog" fileName="${logger}_${date:format=yyyy-MM-dd}.log">
			<layout xsi:type="JsonLayout" includeAllProperties="false" escapeForwardSlash="false" >
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${uppercase:${level}}" />
				<attribute name="host" layout="${machinename}" />
				<attribute name="message" layout="${message}" />
				<attribute name="location" layout="${callsite}" />
				<attribute name="line" layout="${callsite-linenumber}" />
				<attribute name="exception" layout="${exception:format=toString,data:maxInnerExceptionLevel=10}" />
				<attribute name="eventProperties" encode="false">
					<layout xsi:type='JsonLayout' includeAllProperties="true" maxRecursionLimit="10" />
				</attribute>
			</layout>
		</target>-->
	</targets>
	<!-- Define rules -->
	<rules>
		<!-- All messages with a minimum log level of Debug or higher are written to the Console -->
		<!--<logger name="*" minlevel="Debug" writeTo="Console" />-->
		<!--<logger name="*" minlevel="DEBUG" writeTo="DefaultFile" />-->

		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />

	</rules>
</nlog>